.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    padding: 40px;
    z-index: 99999;
}

.carousel {
}

.imageContainer {
    width: auto;
    height: 100vh;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}